@media(max-width:900px){
    .nav-item{
        display: none;
    }
    header img{
        display: none;
    }
    .giris{
        width: 80%;
    }
    .browse,
    .component{
        gap: 350px;
    }
    .btc{
        gap: 15px;
    }
    .ox{
        margin-top: 80px;
    }
    .FA .repit:last-child{
        display: none;
    }
    .iconlogo{
        display: none;
    }
    .section-end{
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-content: space-around;
    }
    .iconsvg{
        display: flex;
        justify-content:center;
        gap: 20px;
        padding-top: 30px;
        
    }
    .FU{
        gap: 50px;
    justify-content: space-evenly;
    }
}
